[package]
name = "guess_number"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true
description.workspace = true

[dependencies]
glazeui = { workspace = true }
rand = "0.9.2"
