[package]
name = "glazeui_window"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
categories.workspace = true
keywords.workspace = true
description.workspace = true

[dependencies]
winit.workspace = true
glazeui_core.workspace = true
