name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y pkg-config libfontconfig1-dev
      - name: Build counter
        run: cargo build -p counter --verbose
      # - name: Run tests
      #   run: cargo test -p counter --verbose

  build-macos:
    name: Build MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Build counter
        run: cargo build -p counter --verbose
      # - name: Run tests
      #   run: cargo test -p counter --verbose

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Build counter
        run: cargo build -p counter --verbose
      # - name: Run tests
      #   run: cargo test -p counter --verbose
  